.main-footer{
    color: white;
    background-color: #333333;
    width: 100%;
    margin-top: 50px;
}

.list-unstyled-icon{
    margin-top: 50px;
}

.list-unstyled{
    float: right;
    margin-top: 40px;
}

.logo{
    text-align: center;
}

/* 
@media (max-width: 425px) { .list-unstyled-icon{
    text-align: center;
    font-size: 24px;
}
}
@media (max-width: 320px) { .list-unstyled{
    float: none;
    text-align: center;
}
}

@media (min-width: 540px) and (max-width:768px){.list-unstyled{
    margin-top:5%
}
}

@media (min-width: 768px) and (max-width:1024px){.main-footer{
    margin-top:5%
}
}

@media (min-width: 540px) and (max-width:720px){.main-footer{
    margin-top:5%
}
}


@media (min-width: 1024px) and (max-width: 1366px) {.main-footer{
   margin-top: 29%
}
} */
 