/* LICENCIA & PUESTOS STYLES */
.licencias-switch{
    align-self: center;
  
    color: white;
  
  }
  
.licencias-header{
    height: 250px;
    background-image: url('https://i.ibb.co/H2Hj2Sd/admin-edited.jpg');
    background-color: #333333;
    background-position-y: center;
    background-size: cover;
    color: white;
    
}

 
.btn-delete{
    color: rgb(110, 17, 17) !important;
  }
  
.btn-edit{
    color: #3F8F8B !important;
  }
  
  
.name-ab{
    color: white;
    background: #3F8F8B;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    font-size: 12px;
} 