*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     /* background-image: url(https://i.postimg.cc/1t4P0kwp/pexels-pixabay-373543.jpg);
     */ background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      height: 100vh;
      display: flex;
      flex-direction: column;
}
.conrainer{
      height: max-content;
     
}

.login-container{
  line-height: 50%;
    
}

.text-inicio{
    margin-top: 30px;
    text-align: center;
    font-size: 17px;
    color:#3F8F9B ;
}
.text-inicio:hover{
      color: chartreuse;
}

.container-logo{
   height: 50px;
   width: 100%;
   text-align: center;
   justify-content: center;
   align-items: center;
   background:#333333;
   border-radius: 5px;
   border: double 1px #3F8F9B ;
   
}
.container-login{
      display: flex;
      height: 100%;
}
#imagen-logo{
      width: auto;
      height: 100%;
      text-align: center;
    
}
#row-padre{
      height: 100vh;
      display: flex;
      justify-content:space-around;
      align-content: center;
      align-items: center;
}
.login-form-2{
    padding: 5%;
    border-radius: 40px;
    /*background: rgb(26, 26, 26);*/
    background-color: black;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    height: 30rem;
    border: #3F8F9B 2px solid;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 20px #3F8F9B, 0 0 30px #49FF18, 0 0 75px #49ff18, 0 0 55px #3F8F9B ;
}

.login-form-2 h3{
    text-align: center;
    font-size:40px;
    color: #FFFFFF;
   
}


.btnSubmit{
    width: 50%;
    height: 40px;
    margin-left: 25%;
    border-radius: 0.2rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
    font-weight: 600;
    color: #fff;
    background-color: black;
    border: #3F8F9B 2px solid;
}

.btnSubmit:hover{
    font-weight: 600;
    color:white;
    background-color:#3F8F9B ;
    opacity: 0.9;
}

.form-group{
    margin-top: 20px;
}
@media(max-width:600){login-form-2{
      font-size: 5px;
      margin-top: 20px;
      line-height: 1.2
}
}
@media only screen and (min-width:700px) and (max-width: 900px) { .login-form-2{
      width: 50%;
} }
@media(min-width: 1024px){
      body{
            height: 100vh;
      }
}


