.container-login-page {
  background-image: url(https://i.postimg.cc/GtNqLdV3/city-lights.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

<<<<<<< HEAD
.container-principal{
      background-image: url(https://i.postimg.cc/X7Bq6CZw/Home-Card2.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      height: 100vh;
      display: flex;
      flex-direction: column;
}
.login-container{
=======
.container {
  height: max-content;
}

.login-container {
>>>>>>> b3e9b511b539e6fcb0dec568ee02064e0e12d53e
  line-height: 50%;
}

.text-inicio {
  margin-top: 30px;
  text-align: center;
  font-size: 17px;
  color: #3F8F8B;
}
.text-inicio:hover {
  color: chartreuse;
}

.container-logo {
  height: 80px;
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.container-login {
  display: flex;
  height: 100%;
}
#imagen-logo {
  width: auto;
  height: 100%;
  text-align: center;
}

#row-padre {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
.login-form-2 {
  padding: 5%;
  border-radius: 40px;
  background-color: rgb(20, 20, 20);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  height: 30rem;
  border: #3F8F8B 2px solid;
}

.login-form-2 h4 {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #3f8f9b, 8,
    0 0 55px #3f8f9b;
}

.btnSubmit {
  width: 50%;
  height: 40px;
  margin-left: 25%;
  border-radius: 0.2rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;
  font-weight: 600;
  color: #fff;
  background-color: #4DAAA7;
  border: #4DAAA7 2px solid;
}

.btnSubmit:hover {
  font-weight: 600;
  color: white;
  background-color: #3F8F8B;
  opacity: 0.9;
}

.form-group {
  margin-top: 20px;
}

@media (max-width: 600) {
  .login-form-2 {
    font-size: 5px;
    margin-top: 20px;
    line-height: 1.2;
  }
}

@media (min-width: 1024px) {
  body {
    height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  .login-form-2 {
    width: 70%;
  }
}
@media screen and (max-width: 576px) {
  .login-form-2 {
    width: 70%;
  }
}

@media screen and (max-width: 460px) {
  .login-form-2 {
    width: 80%;
  }
}

@media screen and (max-width: 360px) {
  .login-form-2 {
    width: 90%;
  }
}
