/* GENERAL MODAL STYLES */
.modal-header{
    background-color: #3F8F8B !important;
    color: white !important;
  }
  
  .modal-footer{
    background-color: #3F8F8B !important;
    color: white !important;
  }