/* GENERAL MODAL STYLES */
.modal-header{
    background-color: #3F8F8B !important;
    color: white !important;
  }
  
  .modal-footer{
    background-color: #3F8F8B !important;
    color: white !important;
  }

  .btn-success{
    background-color: white !important;
    color: #3F8F8B !important;
  }

  .btn-success:hover{
    background-color: rgb(230, 228, 228) !important;
    color: #52bdb7 !important;
  }