
.container-perfil-header{
      display: grid;
      margin-bottom: 50px;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 22rem;
      background-image: url('https://i.postimg.cc/x8Mnmk8d/pexels-photo-4069291.jpg');
      background-position: center center;
      background-size: cover;
      position: relative;
}
.h1-perfil-header{
        color:#4DAAA7;
        display: flex;
        position: absolute;
        bottom: 20px;
        left: 40px;
  }
.title_perfil_card{
      color:#4DAAA7 ;
      text-align:start;
}
.card_perfil{
      border-radius: 3%;
      box-shadow: 9px 8px 18px -3px #000000;

}
.card-P{
      background-color: #333333;
      color: white;
}
.card-form .imgPerfil{
      border-radius: 50%;
      border: white 1px solid;
      object-fit:cover center;
      height: auto;
      width: 200px;
      height: 180px;
      /* display: flex;
      margin:auto;  */
}
.card_perfil .i-pencil{
   color: #4DAAA7;
   font-size: 40px;
   margin-top: 10px;
   position:absolute;
   right: 5%;
   top:5%;
}
.i-pencil:hover{
 background-color: yellow;
 border-radius: 5px;
 color: black;
}
.fa-pencil:before {
      padding: 7px;
}
.camera-perfil{
      color: #4DAAA7;
}
 .card-info-perfil{
    height: 332px;
    text-align:justify;
}
.card-img_perfil{
      height: 520px;
}
.card-call{
      height:160px ;
}
.card_perfil .img-logo-perfil{
      width: 30px;
      height: 30px;
}
.btn-save{
      background-color:#4DAAA7 ;
      color: white;
      width: 100%;
      margin-top: 5%;
}
#i-icon{
      color: #4DAAA7;
      font-size:30px ;
    
  
}
#i-verMas{
      font-size: 17px;
      color:#4DAAA7; 
}
.p-ubicacion{
    margin-left: 20px;
    text-justify:initial;
     
}
.span-i{
    margin-left: 20px;
    text-justify:initial;
}
 
#i-phone{
      color:gold;
      font-size: 25px;    
}
#i-add{
color: #4DAAA7;
align-items: center;
justify-content: center;
text-align: center;
margin-left: 30%;
}
.row-principal{
      position:sticky;
      top: 0px;
      height:max-content ;
}

@media screen and (max-width: 780px) { .row-principal{
     position:relative;
     height: max-content;
  } }
