/* PUESTOS STYLES */
.puestos-header{
    height: 250px;
    background-image: url('https://i.ibb.co/H2Hj2Sd/admin-edited.jpg');
    background-color: #333333;
    background-position-y: center;
    background-size: cover;
    color: white;
}

/* .puestos-header {
  background-image: url(https://i.ibb.co/H2Hj2Sd/admin-edited.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  height: 450px;
  width: 100%;
  background-color: #3f8f8b;
  color: white;
  display: grid;
  height: 100%;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 22rem;
  background-image: url('https://i.ibb.co/H2Hj2Sd/admin-edited.jpg');
  background-position: center ;
  background-size: cover;
  position: relative;
} */
    
  
  