/* PUESTOS STYLES */
.puestos-header{
    height: 250px;
    background-image: url('https://i.ibb.co/H2Hj2Sd/admin-edited.jpg');
    background-color: #333333;
    background-position-y: center;
    background-size: cover;
    color: white;
}

  
  