.container_header-nosotros{
    display: grid;
    margin-bottom: 50px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 22rem;
    background-image: url(https://i.postimg.cc/mgKcQytr/pexels-kindel-media-7688460.jpg);
    background-position: center center;
    background-size: cover;
}

.header_overlay-nosotros{
    background-color: black;
    opacity: 0.6;
    transition: 0.3s;
    height: 352px;
}

.title_header-nosotros{
    text-align: center;
    font-size: 40px;
    color: #f2f2f2;
    margin: auto auto;
    position: absolute;
}
@media screen and (max-width: 1024px) {
    .title_header-nosotros{
        margin: auto 40px;
    } 
}

@media screen and (max-width: 920px) {
    .title_header-nosotros{
        margin: auto 40px;
    } 
}
  
@media screen and (max-width: 460px) {
    .title_header-nosotros{
        text-align: center;
        font-size: 32px;
    }
}

