.container_header-nosotros{
    display: grid;
    margin-bottom: 50px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 10rem;
    background-image: url(https://i.postimg.cc/D0c9N5YV/pexels-laura-tancredi-7078666.jpg);
    background-position: center center;
    background-size: cover;
}

.container_title-nosotros{
   text-align: center;
   height: 150px;
}
.title_header-nosotros{
    text-align: justify center;
    font-size: 30px;
    color: #f2f2f2;
    margin: -30px 40px;
}