.container-error{
height: 100vh;
width: 100vw;
text-align: center;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-transform: uppercase;
font-weight: bold;
}
.div1-error{
      width: 100%;
      height: 100%;   
}
.div1-error img{
      width: 100%;
      height: 100%;
      margin-left: 100px;

} 
.div2-error{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: flex-start;
}

.p1-error{
color:crimson;
margin-bottom: 0;
}
.p2-error{
      margin-top: 0;
      font-size: 150px;
      margin-bottom: 0;
     color:rgba(0,0,0,.6);  
}
.p3-error{
      margin-top: 0;
      color:crimson;
}

.div3-error{
      width: 30%;
}
.btn-error{
      background-color:#4DAAA7 ;
      color: white;
      cursor: pointer;
      width: 200px;
      border-radius: 30px;
      padding: 10px;
}
.btn-error:hover{
      background-color: #41413F;
      color: white;
}