.navbar {
  background: #fff;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-logo img{
  height: 60px;
  margin-top: -20px;
}

#dropdown-basic {
  height:60px;
  margin-top: -5px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  background-color: transparent !important ;
  color: #4DAAA7;
  border: none !important;
  box-shadow: none !important;

}

#dropdown-basic img{
  width: 50px;
  height: 50px;
  border-radius: 30px;
  object-fit: cover;
  cursor: pointer;
}

.dropdown-menu{
  background-color: rgb(15, 15, 15) !important;
  min-width: 15rem !important;
}

.nav-link{
  color: #4DAAA7 !important;
}

ul {
    padding-left: 0 !important;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 62px;
}

.nav-links {
  color: #333333;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  color: #4DAAA7;
  text-decoration: none;
  border-bottom: 4px solid #4DAAA7;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #4DAAA7;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar{
        font-size: 1.2rem;
  }

  .nav-item {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 70px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: rgb(15, 15, 15);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    color: #fff;
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #4DAAA7;
    color: #fff;
    border-radius: 5px;
  }

  #dropdown-basic{
    background-color: transparent !important;
    text-align: center !important;
    padding: 2rem;
    width: 100%;
    display: table !important;
  }

  #dropdown-basic:hover{
    background-color: #4DAAA7 !important;
    color: #fff;
    border-radius: 5px;
  }

  #dropdown-basic img{
    margin-top: -25px;
    width: 50px;
    height: 50px;
    /* align-items: center; */
    border-radius: 30px;
    object-fit: cover;
    cursor: pointer;
  }

  .dropdown-menu{
    background-color: rgb(15, 15, 15) !important;
    width: 100% !important;
  }
  
  .nav-link{
    color: #4DAAA7 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center;
  }

  .navbar-logo {
    position: absolute;
    top: 5px;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: -10px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #4DAAA7;
    font-size: 2rem;
  }
}


