/* No quitar estilos grales! */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ADMIN PAGE STYLE */
.admin-header{
  background-color: #3F8F8B;
  color: white;

}

.admin-button{
  background-color: #333333;
  width: 100%;
}

.admin-button i{
  color: white;
}
